*{
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 300px;
    padding: 20px;
}



/* Navbar  */
nav{ 
    padding: 0 40px;
    background-color: antiquewhite;
    margin-bottom: 10px;

}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
nav ul .menu{
    display: flex;
    gap: 20px;
}

ul li {
    padding: 15px;
}

ul li a {
    text-decoration: none;
    color: black
}

/* Update item */
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-top: 20px;
}

form input {
    width: 400px;
    height: 40px;
}

h1{
    text-align: center;
}

form button {
    width: 400px;
    height: 40px;
    margin-top: 15px;

}